.sidebar {
  margin: 0;
  padding: 0;
  height: auto;
  margin-top: 100px;
  margin-bottom: 40px;
  width: 300px;
  margin-left: 40px;
  background-color: #f1f1f1;
  overflow: auto;
  font-size: 16px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 12px;
  text-decoration: none;
}
 
.sidebar a.active {
 background-color: brown;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    /* width:150px; */
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}