.img-card{
    margin: auto;
    height: 500px;
    width: 600px;
}

.slider-content{
    width: 650px;
    height: 500px;
    margin: auto;
}
.slick-next{
    margin: -15px;
}
.slick-prev{
    margin: -15px;

}
