.carousel .slide iframe{
    height: 530px !important;
    margin-top: 2rem;
    
}
.background-img:before{
    background: rgba(54, 46, 46, 0.85);
}

.background-img2:before{
    background: rgba(148, 56, 56, 0.85);
}


.video-frame{
    border-radius: 20px;
    margin-top: 20px !important;
}